@import url("https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,700&family=Poppins:wght@300;400&display=swap");

/* font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #####################
BODY CSS
##################### */
/* body {
  
  background-image: linear-gradient(0deg, #a71344 20px, #000000 100%);
  font-family: "Poppins", sans-serif;
  color: wheat;
} */

/* #####################
NAVBAR CSS
##################### */
.navbar {
  /* margin-top: 1vh; */
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  background-color: #000000 !important;
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  margin-left: 1px;
  padding: 2px;
}

.nav-link:hover {
  color: white;
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 2px;
  margin-left: 1px;
}

/* #####################
FOOTER CSS
##################### */
.footer {
  background-color: #82032e !important;
}
.footer .text-center {
  padding-bottom: 8px;
}
.footer a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: rgb(163, 161, 161);
}

/* #####################
PAGE NOT FOUND CSS
##################### */
.pnf {
  display: flex;
  min-height: 78vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-emoji {
  font-size: 70px;
  margin-bottom: 0;
}

.pnf-btn {
  color: #cacaca;
  border: 1px solid #cacaca;
  text-decoration: none;
  padding: 8px;
  margin-top: 20px;
  border-radius: 10px;
}

/* #####################
CONTACT PAGE CSS
##################### */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.contact-image {
  max-width: 50%; /* Adjust the width as needed */
  height: auto;
  margin-right: 30px;
}

.contact-details {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  background-color: #2323233d; /* Light gray background color, adjust as needed */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth effect, adjust as needed */
}

.contact-details h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.forgot-signin-signup a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.forgot-signin-signup a:hover {
  color: rgb(163, 161, 161);
}

/* PASSWORD */
.password-input-wrapper {
  position: relative;
}

.password-input-inner {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

/* PRODUCT link */
.product-link {
  text-decoration: none !important;
  color: black !important;
}



/* ROW CSS */
.row{
  margin-right: 0;
}